body {
    font-family: Arial, sans-serif;
  }
  .container {
    margin: 20px auto;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  .gantt-chart {
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  .process-bar {
  border: 1px solid #000;
    display: inline-block;
    height: 30px;
    background-color: #007bff;
    color: white;
    line-height: 30px;
    text-align: center;
  }
  .Inputs{
    font-size: larger;
    border-radius: 1%;
    padding: 5px;
    margin: 5px;
  }
  .OutPut{
    border-radius: 10%;
  }

  .margins{
    margin: 5px;
  }